.photo-box{
    position: relative;
    width: 450px;
    height: 500px;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

